.container {
    display: flex;
    flex: none;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
}

.image-gallery {
    display: flex;
    flex: none;
    flex-direction: column;
    margin: 10px;
}

.images {
    display: flex;
    flex: none;
    height: 55px;
    width: 270px;
    margin: 5px;
    border-radius: 10px;
    font-size: 1.0em;
}

.image-caption {
    height: 45px;
    width: 190px;
    margin: 2px;
    border-radius: 5px;
    vertical-align: middle;
}

.image-display {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    height: 90vh;
    width: 27%;
    margin: 10px;
}

.image-display-caption {
    width: 100%;
    font-size: 1.4em;
    text-align: center;
}

.option-image {
    height : 45px;
    width: 45px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

#display-image {
    object-fit: cover;
    width: 30vw;
    height: 120vh;
    border: 0.5px solid black;
    border-radius: 5px;
}

.images[data-selected="true"] {
    background-color: rgb(82, 133, 230);
}

.dragging {
    opacity: 50%;
}